* {
    box-sizing: border-box;
}



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 1em;
    line-height: normal;
    background: #313131;
    margin: 0;
    padding: 0;
}

@media (min-width: 480px) and (max-width: 680px) {
    body {
        font-size: 1.2em;
    }
}

@media (min-width: 680px) {
    body {
        font-size: 1.4em;
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 3em 5em;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}

.filters {
    background: #414141;
    padding: 1em 2em;

}

.search {
    font-size: 1em;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .25em .5em;
    border: none;

    display: block;
    margin: 0 auto;
    border-radius: 6px;
    width: 25em;
    max-width: 100%;
}

.search::placeholder {
    color: #525252;

}

.buttons {
    width: 100%;
    margin: .75em 0 0;
    flex-wrap: nowrap;
    border-radius: 6px;
}

.sort {
    margin: 0;
    padding: .5em 1em;
    flex: 1;
    background: #b2b247;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: .9em;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sort:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.sort:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sort:focus {
    outline: none;
    border: none;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, .25), -2px 0px 20px rgba(0, 0, 0, .25);
    z-index: 1;
}

.asc:after {
    font-size: .5em;
    content: '▲';
    margin-left: .5em;
    vertical-align: middle;
}

.desc:after {
    vertical-align: middle;
    font-size: .5em;
    content: '▼';
    margin-left: .5em;
}


.header {
    justify-content: center;
    width: 100%;
}

.site-title {
    margin: .25em;
    font-family: 'Adobe Garamond Pro', 'Hoefler', garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    letter-spacing: 3px;
}

.subheader {
    margin: .25em 0;
    font-weight: 100;
    color: #ddd;
}

.card-container {
    width: 16em;
    margin: 1em;
    background: #414141;
    border-radius: 6px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .35);
    transition: box-shadow .2s ease;
}

.card-container:hover {
    box-shadow: 1px 10px 20px rgba(0, 0, 0, .5);
}



.card-link {
    height: 100%;
    width: 100%;
}

.card-link:focus {
    outline: 2px dotted #b2b247;
    border-radius: 6px;
}

.card-header {
    width: 100%;
    position: relative;
    height: 12em;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    flex-shrink: 0;
}

.card-divider {
    width: 100%;
    height: .25em;
    background: #b2b247;
    justify-content: center;
    align-items: center;
    position: relative;
}



.prize {

    color: #b2b247;

    margin-bottom: 0;

    font-size: .9em;
    font-weight: 600;

    line-height: 1;

}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: blur(.35rem);
    position: relative;
    opacity: .5;
    transform: scale(1.1);
    overflow: hidden;
}

.book-cover {
    height: 10em;

    max-width: 100%;
    position: absolute;
    /* left: 15px; */
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .35);

}

a {
    text-decoration: none;
    color: #fff;
}

.card-body {
    padding: .75em;
    height: 100%;
    justify-content: flex-start;
}

.title {
    color: #fff;
    line-height: 1.2;
    font-size: 1em;
    margin: .5em 0;

}

.publisher {
    font-size: .8em;
    color: #c9c9c9;
    margin: .35em 0;
}

.author {
    /* margin-top: auto; */
}